<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Guess It NG</title>
  <link rel="stylesheet" href="src/guess-it-app/styles/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/guess-it-app/guess-it/assets/styles/guess-it.css">
  <link rel="stylesheet" href="src/guess-it-app/styles/font-awesome/font-awesome.css">
</head>
<body ng-app="guess-it">

<div ng-controller="GuessItCtrl">
  <button class="btn btn-default guess-it-btn" ng-click="guessIt.play()">Start Guessing</button>
</div>

<!--<div ng-controller="AlertDemoCtrl">-->
  <!--<alert ng-repeat="alert in alerter.alerts" type="{{alert.type}}" close="alerter.closeAlert($index)">-->
    <!--{{alert.msg}}-->
  <!--</alert>-->
  <!--<button class='btn btn-default' ng-click="alerter.addAlert()">Add Alert</button>-->
<!--</div>-->

<script src="src/guess-it-app/bower_components/angular/angular.js"></script>
<script src="src/guess-it-app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="src/guess-it-app/guess-it/guess-it-module.js"></script>
<script src="src/guess-it-app/guess-it/guess-it-modal-ctrl.js"></script>
<script src="src/guess-it-app/guess-it/guess-it-ctrl.js"></script>
<script src="src/guess-it-app/guess-it/guess-it-svc.js"></script>
<script src="src/guess-it-app/my-bootstrap/my-bootstrap-module.js"></script>
<script src="src/guess-it-app.js"></script>
</body>
</html>
