<div>
  <div class="modal-header">
    <h3 class="modal-title">
      Play the Guessing Game
    </h3>
  </div>
  <div class="guess-it-modal">
    <div class="modal-body">
      <table class="table">
        <tr>
          <td><input class="guess-it-input" type="text" placeholder="Enter your guess" ng-model="guessItModal.guess"></td>
        </tr>
      </table>
      <button class="btn btn-success" ng-click="guessItModal.takeAGuess()">
        Take a shot
        <i class="fa fa-long-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="guessItModal.close()">
      Close
      <i class="fa fa-times-circle-o"></i>
    </button>
  </div>
</div>
